@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<GameHub.Models.Igrica>

@{
    ViewData["Title"] = "Index";
}

<h1>Pregled igrica</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                Srednja ocjena
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zanr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RRated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Content(item.Slika)" alt="cover" width="150" height="200" />
            </td>
            <td>
                <font size="5">@Html.DisplayFor(modelItem => item.Naziv)</font>
            </td>
            <td>
                <img src="https://i.postimg.cc/P5hT30nV/star.png" alt="star" width="20" height="20" style="margin-bottom:10px"/>
                <font size="5">@Html.DisplayFor(modelItem => item.SrednjaOcjena)</font>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zanr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RRated)
            </td>
            <td>
                @if(SignInManager.IsSignedIn(User)) {
                  <a asp-controller="KomentarIgrica" asp-action="Create" asp-route-id="@item.Id">Komentiraj</a> 
              }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
