@model GameHub.Models.KomentarIgrica

@{
    ViewData["Title"] = "Details";
}

<h1>Detalji</h1>

<div>
    <h4>Komentar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            <font size="4">@Html.DisplayNameFor(model => model.Tekst)</font>
        </dt>
        <dd class = "comment-text">
            @Html.DisplayFor(model => model.Tekst)
        </dd>
        <dt class = "col-sm-2">
            <br />
            <font size="4">@Html.DisplayNameFor(model => model.Ocjena)</font>
        </dt>
        <dd class = "col-sm-10">
            <br />
            <img src="https://i.postimg.cc/P5hT30nV/star.png" alt="star" width="40" height="40" style="margin-bottom:20px; margin-right:10px"/>
            <font size="6">@Html.DisplayFor(model => model.Ocjena)</font>
            
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IgricaId)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.IgricaId)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KorisnikId)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.KorisnikId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
