@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Tuple<List<KomentarIgrica>, List<Igrica>>

@{
    ViewData["Title"] = "Moji komentari";
}

<h1>Moji komentari</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Tekst
            </th>
            <th>
                Ocjena
            </th>
            <th>
                Ime igrice
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                <img src="https://i.postimg.cc/P5hT30nV/star.png" alt="star" width="40" height="40" style="margin-bottom:20px; margin-right:10px"/>
                <font size="5">@Html.DisplayFor(modelItem => item.Ocjena) </font>
            </td>
            <td>
                <font size="5">@Html.DisplayFor(Model => Model.Item2.Find(igrica => igrica.Id==item.IgricaId).Naziv) </font>
            </td>
            <td>
                @if (@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Id==item.KorisnikId) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
