@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<GameHub.Models.KomentarIgrica>

@{
    ViewData["Title"] = "Ostali komentari";
}

<h1>Ostali komentari</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tekst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocjena)
            </th>
            <th>
                Korisnik
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                <img src="https://i.postimg.cc/P5hT30nV/star.png" alt="star" width="40" height="40" style="margin-bottom:20px; margin-right:10px"/>
                <font size="5">@Html.DisplayFor(modelItem => item.Ocjena) </font>
            </td>
            <td>
                    
                <font size="5">@SignInManager.UserManager.FindByIdAsync(item.KorisnikId).Result.UserName </font>
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User) && SignInManager.UserManager.Users.First(user => user.UserName == User.Identity.Name).Id == item.KorisnikId) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Uredi</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Obriši</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Detalji</a> 
        </td>
    </tr>
    
   }
    </tbody>
</table>
