@using GameHub.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Moj profil";
}

<h1>Moj profil</h1>

<div>
    <h4>Korisnik</h4>
    <hr />

    <a class="guestButton" asp-area="Identity" asp-page="/Account/Manage/Index">Postavke</a>
    @if (User.IsInRole("Gamer"))
    {
        <a class="guestButton" asp-controller="KomentarIgrica" asp-action="KomentariKorisnika" asp-route-id="@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Id">Moji komentari</a>
    }
    else
    {
      <a class="guestButton" asp-controller="KomentarIgrica" asp-action="KomentariKorisnika" asp-route-id="@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Id">Moje igrice</a>
    }
    <div class="detail-container">

        @if (SignInManager.UserManager.Users.First(user => user.UserName == User.Identity.Name).Slika != null)
        {
            <div class="detail-child">
                <dl class="cover">
                <dt>
                    <img src="@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Slika" alt="user" width="300" height="300" style="margin-left:20px; border-radius: 50%; border:solid 2px; border-color: white;"/>
                </dt>
            </dl>
        </div>
        }

        <div class="detail-child">
            <br />
            <br />
            <dl class="row">
                <dt class = "col-sm-2">
                    <font size="4"">Korisničko ime:</font>
                </dt>
                <dd class = "col-sm-10">
                    <font size="5" style="margin-left: 20px;">@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).UserName</font>
                </dd>
                <dt class = "col-sm-2">
                     <font size="4">Opis:</font>
                </dt>
                <dd class = "col-sm-10">
                     <font size="4" style="margin-left: 20px;">@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).Opis</font>
                </dd>
                <dt class = "col-sm-2">
                    <font size="4">Rođen:</font>
                </dt>
                <dd class = "col-sm-10">
                    <font size="4" style="margin-left: 20px;">@SignInManager.UserManager.Users.First(user => user.UserName==User.Identity.Name).BirthDate</font>
                </dd>
                <dt class = "col-sm-2">
                    <font size="4">Uloga:</font>
                </dt>
                <dd class = "col-sm-10">
                    @if(User.IsInRole("Gamer")) {
                    <font size="4" style="margin-left: 20px;">Gamer</font>
                    }
                    else if(User.IsInRole("Developer")) {
                    <font size="4" style="margin-left: 20px;">Developer</font>
                    }
                    else if(User.IsInRole("GamingKompanija")) {
                    <font size="4" style="margin-left: 20px;">Gaming kompanija</font>
                    }
                    else {
                    <font size="4" style="margin-left: 20px;">Admin</font>
                    }
                </dd>
                
        
            </dl>
        </div>
    </div>
</div>
